.button-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pagination-button {
    margin: 0 4px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightblue;
    cursor: pointer;

    &:disabled {
        cursor: initial;
        background-color: lightblue;
        color: black;
    }
}